body    {
    font-family: 'Six Caps', sans-serif;
    background-color: black;
    color: #776228;
    text-align: center;
   /* background: url(assets/images/1282389496372890888hollywood-hi.png) no-repeat; */
}

#header    {
    margin-top: 20px;
    margin-bottom: 40px;
    border-top: #0c20ce 15px dashed;
    border-bottom: #0c20ce 15px dashed;
    padding: 20px 0 30px 0;
    text-align: center;
    color: #776228;
    font-size: 120px;
}

.navbar {
    border-top: #0c20ce 15px dashed;
    border-bottom: #0c20ce 15px dashed;
    color: #776228;
    font-size: 120px;

}


#oscar {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

#image {
    margin-top: 10px;
    height: 600px;
    width: 400px;
    border: #776228 1px solid;
}



/*
#game  {
    margin-top: 10px;
    height: 400px;
    width: 250px;
    border: #bcac7e 3px solid;
}
*/

#text    {
    font-size: 50px;
    padding: 20px;
}

#button {
    font-family: 'Six Caps', sans-serif;
    font-size: 60px;
    background: black;
    color: #776228;
    border: #0c20ce solid;
    padding: 15px;
   
}

#title-text {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #776228;
}

#winning-title  {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: #0c20ce solid;
}

#letters-to-guess   {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    padding: 20px;
}

#letters-guessed  {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    padding: 20px;
}

#guesses-remaining   {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    padding: 20px;
}



#wins {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    padding: 20px;
}

#losses {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    padding: 20px;
}